[submodule "Luminous/src/ext/spdlog"]
	path = Luminous/src/ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Luminous/src/ext/stb"]
	path = Luminous/src/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "Luminous/src/ext/cxxopts"]
	path = Luminous/src/ext/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Luminous/src/ext/embree"]
	path = Luminous/src/ext/embree
	url = https://github.com/embree/embree.git
